body {margin:0; padding:0; width:100%; min-width:1280px; background:#3b3837; color:#3b3937; font:normal 20px "Beton-Lig";}
a {text-decoration:none; color:#cd5e28; outline:0;}
a:hover {color:#3b3937;}
a img {border:0;}
p {margin:0 0 25px 0; float:left; width:100%;}
ul, li, ol, fieldset {list-style:none; padding:0; margin:0; border:none;}
input, select, textarea {-webkit-appearance:none; -webkit-border-radius:0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float:left; padding:15px 18px 12px 18px; background:#fff; border:2px solid #afaeae; font-size:15px; width:335px; margin-bottom:22px; color:#afaeae;}
textarea {resize:none; height:130px; width:100%;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
::-webkit-input-placeholder {color: #afaeae; opacity:1; filter:alpha(opacity=100);}
:-moz-placeholder {color: #afaeae; opacity:1; filter:alpha(opacity=100);}
::-moz-placeholder {color: #afaeae; opacity:1; filter:alpha(opacity=100);}
:-ms-input-placeholder {color: #afaeae; opacity:1; filter:alpha(opacity=100);}

/*REUSABLE*/
.mid-cont {position:relative; width:1000px; margin:auto;}
.banner-cont {position:relative; width:1280px; margin:auto;}
.banner img {float:left; width:100%; height:auto;}
.container {float:left; width:100%;}
.white {background:#fff; padding-top:30px;}
.section, article, #respond, .commentlist, #comments-title {float:left; width:688px;}
input[type="submit"] {color:#fff; background:#3b3937; border:none; width:90px; cursor:pointer;}
input[type="submit"]:hover {background:#cd5e28;}
.sep {float:left; width:12px; height:11px; background:url(../images/carrot.jpg) no-repeat; margin:2px 12px 0 12px; background-size:10px;}
.hidden, .search .sticky-cat, #header, #main-wrap, #footer {display:none;}
.search .page-title span {color:#3b3937;}
.search .page-title, #related-cont .relatedthumb:nth-child(4), .excerpt p {margin:0;}

.sticky-cont {float:left; width:100%; padding:40px 0; border-top:1px solid #3b3837;}
.sticky-cont:first-child {border:none;}
.sticky-cont .image {float:left; width:198px;}
.sticky-cont .image img {width:194px; height:124px; border:2px solid #3b3837;}
.sticky-cont .info-sticky {float:right; width:410px; margin-right:45px;}
.sticky-cont .sticky-cat {float:left; width:100%; margin-bottom:4px; font-size:15px; color:#3b3937;}
.read-more {font-size:15px; width:100%; float:left; margin-top:5px;}
.excerpt {float:left; width:100%; margin-top:22px; font-size:17px;}
#pagination {width:100%; float:left; padding-top:20px; border-top:1px solid #3b3837; color:#3b3937; font:normal 16.5px 'ProximaNovaExCn-Bold'; text-transform:uppercase; background:#fff; padding-bottom:35px;}
#pagination .page-numbers {float:left; color:#3b3937; margin-right:5px;}
#pagination .divider {float:left; height:25px; width:2px; background:#3b3937; margin:-3px 5px 0 5px;}
#pagination a:hover, #pagination .current {color:#cd5e28;}

h1, h3, h2, #footer, input, textarea, .post-info, .wp-caption-text, #share-cont span, .signup-title, #comments-title, .post-author, #mc_message, #headline, #searchform label, #header #nav li a, .read-more, .post-title, 
.sticky-cont .sticky-cat, #instagram-cont .feed-title, .slide-thumb .title {text-transform:uppercase; font-family: 'ProximaNovaExCn-Bold'; font-weight:normal; letter-spacing:1.5px;}
h1, .page-title {font-size:37px; margin-bottom:15px; color:#cd5e28; margin-top:0;}
h3, .post-title {font-size:24px; color:#cd5e28;}
.page-title {float:left; width:100%; margin-bottom:22px;}
h2, #reply-title {font-size:24px; margin-top:0; color:#cd5e28;}

/*FONTS*/
@import url("//hello.myfonts.net/count/2871a9");  
@font-face {font-family: 'Beton-Lig';src: url('../fonts/beton_light.eot');src: url('../fonts/beton_light.eot?#iefix') format('embedded-opentype'),url('../fonts/beton_light.woff') format('woff'),url('../fonts/beton_light.ttf') format('truetype');} 
@font-face {font-family: 'ProximaNovaExCn-Bold';src: url('../fonts/proxima.eot');src: url('../fonts/proxima.eot?#iefix') format('embedded-opentype'),url('../fonts/proxima.woff') format('woff'),url('../fonts/proxima.ttf') format('truetype');}

/*HEADER*/
#header-top {height:115px;}
#header {height:270px; background:#1d1d1d;}
#header #logo {position:absolute; background:url(../images/logo.png) no-repeat; width:830px; height:357px; left:-155px; top:24px; z-index:10;}
#header #logo a {float:left; width:710px; height:246px;}
#header .header-cont {float:right; width:450px;}
#header #headline {float:right; text-align:right;}
#header #nav {position:absolute; right:0; margin-top:235px; z-index:100;}
#headline {font-size:25px; color:#cd5e28; margin:60px 0 25px 0;}
#header #searchform {width:286px; float:right; background:#3b3837; border:2px solid #fff; height:42px; margin-bottom:75px;}
#header #searchform label {float:left; font-size:15px; color:#fff; margin:13px 6px 0 16px;}
#header #searchform input[type="text"] {float:left; border:none; border-bottom:1px solid #fff; background:transparent; width:180px; margin-bottom:0; padding:0; margin-top:8px;}
#header #searchform input[type="submit"] {float:left; width:10px; height:10px; padding:0; background:url(../images/search-arrow.png) no-repeat; margin:16px 0 0 10px;}
#header #nav li {float:left; margin-left:14px;}
#header #nav li a {font-size:14.5px; color:#cd5e28; background:url(../images/bullet.png) no-repeat; padding-left:21px;}
#header #nav li a:hover, #header #nav .current-menu-item a, #header #nav .current-menu-parent a {color:#807977;}
#header #nav li:first-child {margin-left:0;}
#header #nav li:first-child a {background:none; padding:0;}

/*FOOTER*/
#footer {background:#cd5e28; height:62px; padding-top:12px;}
#footer #footer-seal {float:left; background:url(../images/footer-seal.png) no-repeat; width:57px; height:56px;}
#footer #copyright {float:left; margin:20px 0 0 15px; font-size:15px; color:#3b3937;}
#footer #social-cont {float:right; background:#3b3837; padding:15px 28px 0 25px; height:47px; color:#cd5e28; font-size:17px;}
#footer #social-cont .social {float:left; width:26px; height:23px; margin-left:20px; background:url(../images/social-icons.png) no-repeat;}
#footer #social-cont span {float:left;}
#footer #social-cont #facebook:hover {background-position:0 -23px;}
#footer #social-cont #twitter {background-position:-34px 0;}
#footer #social-cont #twitter:hover {background-position:-34px -23px;}
#footer #social-cont #instagram {background-position:-80px 0; margin-left:28px;}
#footer #social-cont #instagram:hover {background-position:-80px -23px;}

/*ABOUT*/
.wrap {padding:35px 0 40px 0;}

/*SINGLE POST*/
#comments #author {margin-right:18px;}
.post-info div {float:left; font-size:18px;}
.post-info a {color:#3b3837;}
.entry-content {margin:30px 0;}
.entry-content .wp-caption {width:100% !important;}
.entry-content img {float:left; width:100%; height:auto;}
.entry-content .wp-caption-text {float:left; font-size:12px; color:#807977; width:100%; text-align:right; margin:10px 0;}
#share-cont span {float:left; font-size:20px;}
#share-cont .sep {background-size:12px; height:14px;}
#share-cont .share-icon {float:left; width:26px; height:23px; margin-left:20px; background:url(../images/share-icons.png) no-repeat;}
#share-cont #share-facebook:hover {background-position:0 -23px;}
#share-cont #share-twitter {background-position:-47px 0;}
#share-cont #share-twitter:hover {background-position:-47px -23px;}
#share-cont #share-google {background-position:-103px 0; margin-left:30px;}
#share-cont #share-google:hover {background-position:-103px -23px;}
#related-cont {padding:40px 20px 10px 60px; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float:left; width:100%; background:#ebebeb; margin-top:45px;}
#related-cont .relatedthumb {float:left; width:156px; height:186px; margin-right:40px;}
#related-cont .relatedthumb:hover img {border-color:#cd5e28;}
#related-cont .relatedthumb:hover .post-title {color:#3b3837;}
#related-cont .relatedthumb img {float:left; width:100%; height:106px; border:2px solid #3b3837;}
#related-cont .post-title {float:left; font-size:15px; margin-top:12px;}
#comments-title {float:left; font-size:15px; color:#afaeae; margin:20px 0 35px 0; padding-top:30px; border-top:1px solid #3b3837;}
.commentlist li {float:left; width:100%; padding-top:35px; border-top:1px solid #3b3837; margin-bottom:30px;}
.commentlist li:first-child {border:none; padding:0;}
.commentlist li .post-author {float:left; width:100%; color:#3b3837; font-size:17px; margin-bottom:18px;}
#respond {margin-top:30px;}

/*SIDEBAR*/
#secondary {float:right; width:240px;}
.category #secondary {float:none; position:absolute; margin-top:1290px; right:0;}
.paged #secondary {/*margin-top:40px;*/ display:none;}
/*.paged #main-wrap {min-height:500px;}*/

/*NEWSLETTER SIGNUP*/
#mailchimpsf_widget-2 {float:right; background:#3b3837; color:#fff; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding:20px; text-align:center; margin-top:5px;}
#mailchimpsf_widget-2 .signup-title {font-size:16px; display:inline-block; border-bottom:1px solid #fff;}
#mailchimpsf_widget-2 .signup-title span {font-size:40px;}
#mailchimpsf_widget-2 .widget-title {font-size:17px; text-transform:none; color:#fff; margin-bottom:7px;}
#mailchimpsf_widget-2 input[type="text"] {border:none; width:100%; padding:10px;}
#mailchimpsf_widget-2 input[type="submit"] {color:#fff; background:#cd5e28; font-size:30px; width:150px; padding:5px 0 0 0; float:none; display:inline-block; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-bottom:10px;}
#mailchimpsf_widget-2 input[type="submit"]:hover {background:#fff; color:#3b3837;}
#mailchimpsf_widget-2 .mc_error_msg {font-size:17px; color:#cd5e28;}
#mailchimpsf_widget-2 .mc_success_msg {font-size:17px; color:#3b3837; position:absolute; margin-top:10px; font-weight:normal; right:85px;}
#mailchimpsf_widget-2 #mc_signup_form {background:none; border:none;}

/*CATEGORY*/
.info-cont {position:absolute; right:140px; margin-top:385px; text-align:right; text-transform:uppercase; font:normal 25px 'ProximaNovaExCn-Bold'; letter-spacing:1.5px;}
.info-cont .category {color:#fff; background:#3b3837; padding:10px 20px; float:right;}
.info-cont .cat-link {float:left; width:100%;}
.info-cont .title-link {float:right; background:#cd5e28; color:#fff; font-size:37.5px; padding:12px 20px 8px 20px;}
.lotf-post, .paged .lotf-post:nth-child(2), .paged .lotf-post:nth-child(3) {padding-bottom:40px; background:#fff;}
.lotf-post:nth-child(2), .lotf-post:nth-child(3) {background:#e7e7e7; float:left; width:100%;}
.lotf-post:nth-child(2) .post-wrap, .lotf-post:nth-child(3) .post-wrap {width:100%;}
.lotf-post:nth-child(2) .post-wrap img, .lotf-post:nth-child(3) .post-wrap img {width:420px; height:280px; border:2px solid #3b3837;}
.lotf-post .post-wrap, .paged .lotf-post:nth-child(2) .post-wrap, .paged .lotf-post:nth-child(3) .post-wrap {width:725px; border-top:1px solid #3b3837; padding-top:40px; float:left;}
.lotf-post:nth-child(2) .post-wrap, .lotf-post:nth-child(4) .post-wrap {border:none;}
.lotf-post img, .paged .lotf-post:nth-child(2) img, .paged .lotf-post:nth-child(3) img {width:190px; height:124px; border:2px solid #3b3837; float:left;}
.lotf-post .post-detail, .paged .lotf-post:nth-child(2) .post-detail, .paged .lotf-post:nth-child(3) .post-detail {float:right; width:485px;}
.lotf-post:nth-child(2) .post-detail, .lotf-post:nth-child(3) .post-detail {width:540px;}
.lotf-post h3 {margin-top:0;}
.category .AdWidget_ImageWidget {display:none;}
.paged #header {height:415px;}
.category .container {background:#fff;}

/*HOMEPAGE*/
#homepage .banner {position:absolute; width:100%; display:none;}
#home-slider {height:730px;}
#home-slider .banner img {height:530px;}
#home-slider #thumb-cont {padding:15px 0; margin-top:530px;}
#home-slider #thumb-cont .slide-thumb {float:left; width:250px; cursor:pointer;}
#home-slider #thumb-cont .slide-thumb img {width:240px; height:auto; border:3px solid #3b3837;}
#home-slider #thumb-cont .slide-thumb .overlay {display:none; position:absolute; width:246px; height:165px; background:url(../images/overlay.png); z-index:99;}
#home-slider #thumb-cont .slide-thumb .title {display:none; position:absolute; text-align:center; width:250px; color:#fff; z-index:100; font-size:24px; }
#home-slider #thumb-cont .slide-thumb .title .cell {display:table-cell; vertical-align:middle; height:169px; width:250px;}
#home-slider #thumb-cont .slide-thumb .title .cell span {max-width:210px; display:inline-block;}
#home-slider #thumb-cont .slide-thumb.current-thumb .overlay, #home-slider #thumb-cont .slide-thumb:hover .overlay, #home-slider #thumb-cont .slide-thumb:hover .title {display:block;}
#home-slider #thumb-cont .slide-thumb.current-thumb img, #home-slider #thumb-cont .slide-thumb:hover img {border-color:#cd5e28;}
#home-slider .banner:hover .title-link {background:#3B3837;}

#home-sticky-cont {}
.home .section {background:url(../images/fish.png) no-repeat; width:725px; padding-top:48px;}
.home .sticky-cont {width:685px; padding:30px 0;}

#instagram-cont {background:#3b3837; padding:45px 0 30px 0;}
#instagram-cont .line {width:100%; height:3px; background:#fff; float:left; margin-bottom:32px;}
#instagram-cont .feed-title {font-size:37px; color:#fff; padding:0 20px; position:absolute; margin-left:320px; top:-20px; background:#3b3837;}
#instagram-cont #instafeed a {width:230px; height:230px; margin-right:25px; float:left;}
#instagram-cont #instafeed a img {width:100%; height:100%;}
#instagram-cont #instafeed a:last-child {margin-right:0;}


@media screen and (max-device-width: 480px) { 
	body {min-height:1500px; background:#CD5E28;}
}

